@use 'var' as v;
@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
::after, ::before, *{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
img{
    display: block;
}
body{
    background: v.$Light-Gradient;
    min-height: 100vh;
    color: v.$Neutral-900;
    margin-bottom: 2.5rem;
}
nav{
    border-radius: 10px;
    background-color: v.$Neutral-0;
    max-width: 80%;
    margin: 3.5rem auto;
    padding: .5rem .8rem;
    box-shadow: v.$nav-shadow;
}
.nav-container{
   @include flex;
    border-radius: inherit;
}
.nav-container-item2{
    cursor: pointer;
    // border: 1px solid v.$Red-400;
    padding: 1.6rem 1.6rem;
    border-radius: 12px;
    background-color: v.$Neutral-100;
    position: relative;
        img{
            width: 25px;
            // border: 1px solid v.$Red-400;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            transition: opacity, transform .4s ease-in-out;
        }
}
.nav-container-item2.light{
    background-color: v.$Neutral-900;
    transition: background-color .4s ease-in-out;
}
.nav-container-item2.dark{
    transition: background-color .4s ease-in-out;

}
.nav-container-item2.dark .light-icon{
    opacity: 0;
}
.nav-container-item2.dark .dark-icon{
    opacity: 1;
}
.nav-container-item2.light .dark-icon{
    opacity: 0;
}
.nav-container-item2.light .light-icon{
    opacity: 1;
    transform: translate(-50%, -50%) rotate(200deg);
    transform-origin: center center;
}
main{
    max-width: 80%;
    margin: auto;
}
.sub-nav{
    // border: 1px solid black;
    @include flex;
    margin-bottom: 2rem;
}
.sub-nav-title{
    font-size: 1.75rem;
    font-weight: 700;
    display: block;
    color: v.$Neutral-900;
}
.sub-nav-states{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.all{
   @include stateBtn;
}
.active{
    @include stateBtn;
}
.inactive{
    @include stateBtn;
}
.states.state-active{
    @include stateActive;
}
.ext-grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: v.$grid-gap;
}
.ext-grid-item{
    border-radius: 17px;
    background-color: v.$Neutral-0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.2rem 1rem;
    padding-bottom: .8rem;
    box-shadow: v.$nav-shadow
}
.ext-info{
    display: flex;
    gap: 1rem;
}
.ext-actions{
    display: flex;
    justify-content: space-between;
        button{
            display: block;
            font-weight: 700;
            @include stateBtn(1px solid v.$Neutral-900, 1px solid v.$Red-500);
        }
}
.ext-title{
    margin-bottom: .2rem;
    font-weight: 700;
}
.ext-content{
    font-weight: 400;
}
.ext-img-container{
        img{
            width: 65px;
        }
}

// animated switch button
.switch-container{
    @include flex;
    height: 20px;
    width: 42px;
    background-color: v.$Neutral-300;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: v.$inset-main
}
.switch{
    height: 18px;
    width: 20px;
    background-color: v.$Neutral-0;
    border-radius: 12px;
    transform: translateX(1.5px);
    transition: all 0.5s ease;
    display: block;
    box-shadow: v.$toggle-shadow;
}
.switch-container.toggle{
    background-color: v.$Red-500;
    box-shadow: none;
}
.switch-container.toggle .switch{
    transform: translateX(calc(42px - 22px));
}
///////////////////////////////////////////
@media screen and (max-width: 1024px) {
    .ext-grid-container{
    grid-template-columns: auto auto;
}
}
@media screen and (max-width: 768px) {
    main{
    max-width: 90%;
}
nav{
    max-width: 90%;
}
}
@media screen and (max-width: 690px) {
    .ext-grid-container{
    grid-template-columns: auto;
    row-gap: .5rem;
}
.sub-nav{
    flex-direction: column;
    justify-content: unset;
    width: 100%;
    gap: 1rem;
}
}
@media screen and (max-width: 426px) {
nav{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
}